<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Signable</title> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='sidebar/sidebar.css') }}"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 
</head> 
  
<body> 
    <div id="total" class="container-fluid p-0 d-flex h-100 "> 
        <div id="bdSidebar" class="d-flex flex-column flex-shrink-0 p-3 text-black offcanvas-md offcanvas-start width1" style="width: 70px">
            <ul class="mynav nav d-flex d-none d-md-block">   
                <li class="nav-item justify-content-right"> 
                    <a href="#"> 
                        <i id="hide" class="fa-solid fa-x text-black"></i>
                    </a> 
                </li>
            </ul> 
                
            <ul class="mynav nav d-flex ">
                <li>
                    <img class="logo" src="static/images/logo.png" alt="Logo">
                </li>
            </ul>
            
            <a href="#" class="navbar-brand"> 
            </a><hr> 
            <ul class="mynav nav nav-pills flex-column mb-auto "> 
                <li class="nav-item mb-1"> 
                    <a href="/home"> 
                        <i class="fa-solid fa-home text-black"></i> 
                        <span class="text text-black">  Home </span>
                    </a> 
                </li> 
                
  
                <li class="nav-item mb-1"> 
                    <a href="/courses">  
                        <i class="fa-regular fa-address-card text-black"></i> 
                        <span class="text text-black">   Flashcards </span>
                    
                    </a> 
                </li> 
                <li class="nav-item mb-1"> 
                    <a href="/courses" id="mirrorLink">  
                        <i class="fa-solid fa-video text-black"></i> 
                        <span class="text text-black"> Mirror </span>
                    </a> 
                </li>
                <form id="mirrorForm" method="POST" action="/learncourses" style="display:none">
                    <input type="hidden" name="course_name" value="Mirror Sign">
                    <button type="submit"></button>
                </form>
                
                <li class="nav-item mb-1"> 
                    <a href="#" id="quizLink">
                        <i class="fa-solid fa-graduation-cap text-black"></i> 
                       <span class="text text-black"> Quiz </span>
                    </a> 
                </li> 

                <form id="quizForm" method="POST" action="/learncourses" style="display:none">
                    <input type="hidden" name="course_name" value="Quiz">
                    <button type="submit"></button>
                </form>

                <li class="nav-item mb-1"> 
                    <a href="/review"> 
                        <i class="fa-solid fa-layer-group text-black"></i> 
                        <span class="text text-black"> Review Stack </span>
                    </a> 
                </li> 

                <li class="nav-item mb-1"> 
                    <a href="/searchterm"> 
                        <i class="fa-solid fa-search text-black"></i> 
                        <span class="text text-black"> Search </span>
                    </a> 
                </li>

                <li class="nav-item mb-1"> 
                    <a href="/gloss"> 
                        <i class="fa-solid fa-file text-black"></i> 
                        <span class="text text-black"> Gloss </span>
                    </a> 
                </li> 
  
                <li class="sidebar-item nav-item mb-1"> 
                    <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#settings" aria-expanded="false" aria-controls="settings"> 
                        <i class="fas fa-cog pe-2 text-black"></i> 
                        <span class="topic text text-black">Settings </span> 
                    </a> 
                    <ul id="settings" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar"> 
                        <li class="sidebar-item"> 
                            <a href="/logoutapp" class="sidebar-link"> 
                                <i class="fas fa-sign-out-alt pe-2" style="color: #6c757d;"></i>
                                <span class="topic" style="color: #6c757d;" >Log Out</span> 
                            </a> 
                        </li> 
                        <li class="sidebar-item"> 
                            <a class="sidebar-link" id="adminButton"> 
                                <i class="fas fa-user-cog" style="color: #6c757d;"></i>
                                <span class="topic" style="color: #6c757d;">Admin</span> 
                            </a>
                        </li>
                    </ul> 
                </li> 
            </ul> 
            <hr> 
            <div class="d-flex"> 
  
            </div> 
        </div> 
  
        <div class="bg-light flex-fill"> 
            <div class="p-2 d-md-none d-flex text-white color"> 
                <a id="mobileshow" href="#" class="text-white" data-bs-toggle="offcanvas" data-bs-target="#bdSidebar"> 
                    <i class="fa-solid fa-bars text-black"></i> 
                </a> 
                <span class="ms-3 text-black">Signable</span> 
            </div> 
            <div class="p-4"> 
                <nav style="--bs-breadcrumb-divider:'>';font-size:14px"> 
                    <ol class="breadcrumb m-0"> 
                        <li class="breadcrumb-item">Admin</li>  
                    </ol> 
                    <hr>
                </nav>

                <div class="row"> 
                    <div class="col"> 
                        <h1>Edit your courses here:</h1>
                        <ul class="nav nav-tabs">
                          <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="tab" href="#add">Add</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#remove">Remove</a>
                          </li>
                        </ul>

                        <div class="tab-content">
                          <div id="add" class="tab-pane fade show active">
                            <br>
                            <div class="row"> 
                                <div class="col"> 
                                    <form action="/add_card" method="POST">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label for="aslcourse">ASL Course</label>
                                                <small id="inputhelp" class="form-text text-muted"><span style="color: red;">*</span></small>
                                                <select class="form-control" name="aslcourse" required>
                                                    <option value="">Select Course</option>
                                                    <option value="101">101</option>
                                                    <option value="102">102</option>
                                                    <option value="105">105</option>
                                                    <option value="107">107</option>
                                                </select>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <label for="asllesson">ASL Lesson</label>
                                            <small id="inputhelp" class="form-text text-muted">(for example: 3 or 12)<span style="color: red;">*</span></small>
                                            <input type="number" class="form-control" name="asllesson" aria-describedby="emailHelp" placeholder="Enter Lesson" required>
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <label for="videolink">Video ID</label>
                                            <small id="inputhelp" class="form-text text-muted">(for example: enter NXRzRZFgSco from https://youtu.be/NXRzRZFgSco)<span style="color: red;">*</span></small>
                                            <input class="form-control" name="videolink" aria-describedby="emailHelp" placeholder="Enter Video ID" required>
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <label for="translation">English Translation</label>
                                            <small id="inputhelp" class="form-text text-muted">(for example: to-run or hello)<span style="color: red;">*</span></small>
                                            <input class="form-control" name="translation" aria-describedby="emailHelp" placeholder="English Translation" required>
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <label for="memory">Memory Tip</label>
                                            <small id="inputhelp" class="form-text text-muted">(for example: think of a salute)</small>
                                            <input class="form-control" name="memory" aria-describedby="emailHelp" placeholder="Enter Memory Tip">
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <label for="speech">Parts of Speech</label>
                                            <small id="inputhelp" class="form-text text-muted">(for example: verb or noun)</small>
                                            <input class="form-control" name="speech" aria-describedby="emailHelp" placeholder="Enter Parts of Speech">
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <label for="sentence">Example Sentence</label>
                                            <small id="inputhelp" class="form-text text-muted">(for example: DOG TO-RUN AROUND HOUSE)</small>
                                            <input class="form-control" name="sentence" aria-describedby="emailHelp" placeholder="Enter Example Sentence">
                                        </div>
                                        <br>
                                        <div class="row justify-content-center">
                                            <div class="col-md-4 text-center">
                                                <button type="submit" class="btn btn-primary">Add</button>
                                            </div>
                                        </div>
                                    </form>
                                </div> 
                            </div> 
                          </div>
                          <div id="remove" class="tab-pane fade">
                            <br>
                            <div class="row"> 
                                <div class="col"> 
                                    <form action="/remove_card" method="POST">
                                        <div class="form-group">
                                            <!-- Example single danger button -->
                                            <div class="bd-example">
                                                
                                                
                                                <div class="btn-group">
                                                  <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">ASL 101</button>
                                                  <ul class="dropdown-menu">
                                                    {% for lesson_num in range(1, asl101len + 1) %}
                                                        <li><a class="dropdown-item" href="#" name="course" value="{{ course }} {{ lesson_num }}">Lesson {{ lesson_num }}</a></li>
                                                    {% endfor %}
                                                  </ul>
                                                </div><!-- /btn-group -->
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">ASL 102</button>
                                                    <ul class="dropdown-menu">
                                                        {% for lesson_num in range(1, asl102len + 1) %}
                                                        <li><a class="dropdown-item" href="#" name="course" value="{{ course }} {{ lesson_num }}">Lesson {{ lesson_num }}</a></li>
                                                    {% endfor %}
                                                    </ul>
                                                  </div><!-- /btn-group -->
                                                  <div class="btn-group">
                                                    <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">ASL 105</button>
                                                    <ul class="dropdown-menu">
                                                        {% for lesson_num in range(1, asl105len + 1) %}
                                                        <li><a class="dropdown-item" href="#" name="course" value="{{ course }} {{ lesson_num }}">Lesson {{ lesson_num }}</a></li>
                                                    {% endfor %}
                                                    </ul>
                                                  </div><!-- /btn-group -->
                                                  <div class="btn-group">
                                                    <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">ASL 107</button>
                                                    <ul class="dropdown-menu">
                                                        {% for lesson_num in range(1, asl107len + 1) %}
                                                        <li><a class="dropdown-item" href="#" name="course" value="{{ course }} {{ lesson_num }}">Lesson {{ lesson_num }}</a></li>
                                                    {% endfor %}
                                                    </ul>
                                                  </div><!-- /btn-group -->
                                              </div>
                                    </form>
                                </div> 
                            </div> 
                          </div>
                          </div>
                        </div>
                    </div> 
                </div> 
            </div> 
  
        </div> 
    </div> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='sidebar/sidebar.js') }}"></script>
</body> 
</html>
