<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Koh Santepheap' rel='stylesheet'>    
    <link rel="stylesheet" type="text/css" 
        href="{{ url_for('static', filename='lessons/lessons.css') }}">
    <script
        src="{{ url_for('static', filename='lessons/lessons.js') }}"
        type="module"
    ></script>

    <title>Signable - Flashcards for ASL Students</title>
</head>
<body>
    {% include 'header.html' %}
    <section>
        <h2>Start Studying {{course}} Lesson {{lesson_num}}!</h2>
    </section>
    <section>
        <div class="wrapper">
            <div class="carousel" id="flashcard-carousel">
                {% for flashcard in flashcards %}
                <div class="card-container">
                    <div class="card" id = "{{ flashcard['cardid'] }}" mem = "{{ flashcard['memorytip'] }}" 
                    speach = "{{ flashcard['speech'] }}" sentence = "{{ flashcard['sentence'] }}">
                    <div class="front">
                        <button class="star star-front">
                            <img class="card-image" src="static/images/star.png" 
                            alt="Star">
                        </button>
                        <button class="info info-front" value = "{{ flashcard['cardid'] }}">
                            <img class="card-image" src="static/images/info.png" 
                            alt="Info">
                        </button>
                        <iframe id="video{{ loop.index }}" width="100%" height="100%" src="{{ flashcard['videolink'] }}" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="back">
                        <button class="star star-back">
                            <img class="card-image" src="static/images/star.png" 
                            alt="Star">
                        </button>
                        <button class="info info-back" value = "{{ flashcard['cardid'] }}">
                            <img class="card-image" src="static/images/info.png" 
                            alt="Info">
                        </button>
                        {{ flashcard['translation'] | safe}}
                    </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <form method="GET" action="/mirrorsign" style="display: inline;">
                <button type="submit" class="mirror" name ="mirror" value="{{ course }} {{ lesson_num }}">
                    <img class="shuffle-image" src="static/images/mirror.png" 
                    alt="Mir">
                </button>
            </form>
            <button class="shuffle" onclick="shuffleCards()">
                <img class="shuffle-image" src="static/images/shuffle.png" 
                alt="Shuffle">
            </button>


            <button class="prev">
                <img class="arrow-image" src="static/images/arrowleft.png" 
                alt="Prev">
            </button>
            <button class="flip">
                <img class="flip-image" src="static/images/flip.png" 
                alt="Flip">
            </button>
            <button class="next">
                <img class="arrow-image" src="static/images/arrowright.png" 
                alt="Next">
            </button>

            <button class="opp">
                <img class="shuffle-image" src="static/images/switchfront.png" 
                alt="Opp">
            </button>

            <form method="GET" action="/quiz" style="display: inline;">
                <button type="submit" class="quiz" name ="value" value="{{ course }} {{ lesson_num }}">
                    <img class="shuffle-image" src="static/images/quiz.png" 
                    alt="Mir">
                </button>
            </form>

            <div id="card-counter">
                <span id="current-card">1</span> / <span id="total-cards"></span>
            </div>

            <h2>Select a term:</h2>
        </div>

        {% for flashcard in flashcards %}
            <button class="back-button" name="number" value="{{ flashcard['cardid'] }}">
                {{ flashcard["translation"] }}
            </button>
        {% endfor %}
    </section>

</body>
</html>