<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Koh Santepheap' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" 
        href="{{ url_for('static', filename='quiz/quiz.css') }}">
    <script
        src="{{ url_for('static', filename='quiz/quiz.js') }}"
        type="module"
    ></script>

    <title>Signable - Flashcards for ASL Students</title>
</head>
<body>
    {% include 'header.html' %}
    <section>
        <h2> Quiz </h2>
    </section>
    <section>
        <div class="wrapper">
            <div class="carousel" id="flashcard-carousel">
                {% for flashcard in flashcards %}
                <div class="card-container">
                    <div class="card" id = "{{ flashcard['cardid'] }}">
                        <div class="front">
                            <iframe id="video{{ loop.index }}" width="100%" height="100%" src="{{ flashcard['videolink'] }}" frameborder="0" allowfullscreen></iframe>
                        </div>
                        
                        <div class="options">
                            <!-- Add your options here. Mark the correct one with data-correct="true" -->
                            <button class="option" data-correct="true">{{ flashcard['translation'] }}</button>
                            <button class="option">Option 2</button>
                            <button class="option">Option 3</button>
                            <button class="option">Option 4</button>
                        </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div id="card-counter" style="display: none;">
                <span id="current-card">1</span> / <span id="total-cards"></span>
            </div>

            <button id="next-button" style="display: none;">Next</button>
            <div id="score" style="display: none;"></div>
        </div>
    </section>
</body>
</html>