body {
    background: #fff;
}
h2 {
    color: #696969;
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    position: relative;
    margin: 40px 70px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}
h2::after {
    content: "";
    width: 100%;
    position: absolute;
    margin: 0 auto;
    height: 1px;
    border-radius: 1px;
    background: #d4d4d4;
    left: 0;
    right: 0;
    bottom: 14px;
}
h2 span {
    display: inline-block;
    padding: 0 25px;
    background:#ebebeb;
    position:relative;
    z-index:2;
}

.flashcard {
    margin: 30px auto;
    margin-top: 0px;
    padding: auto;
}

.flashcardvideo {
    position: relative;
    height: 500px; 
    width: 100%; 
    transform-style: preserve-3d;
    transition: transform 0.2s;
    margin: 30px auto; 
    margin-top: 0px;       
    padding: auto;
}

.flashcardvideo video {
    position: flex;
    max-width: 100%;
    max-height: 75%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

#record2 {
    position: relative;
    z-index: 1;
    margin-bottom:-420px;
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    border-radius: 4px;
    background-color: transparent;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
    padding: 5 5px;
    color: #333;
}

.breadcrumb-item.active {
    color: #333;
}

hr {
    border-top: 1px solid #555;
}

.modal-body{
    word-break: break-all;
}

#countdown {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
}

.btn-success2 {
    background-color: rgb(232, 130, 130) !important; /* Override Bootstrap default */
    color: white !important; /* Text color */
    border-color: rgb(232, 130, 130) !important;
}

.fixedpos {
    position: sticky !important;
    top: 0 !important;   
    padding-top: 5px !important;
}