body {
    background: #fff;
}

h2 {
    color: #696969;
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    position: relative;
    margin: 40px 70px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

h3 {
    margin-top: 60px;
    text-align: center;
    position: relative;
  
}

h2::after {
    content: "";
    width: 100%;
    position: absolute;
    margin: 0 auto;
    height: 1px;
    border-radius: 1px;
    background: #d4d4d4;
    left: 0;
    right: 0;
    bottom: 14px;
}

h2 span {
    display: inline-block;
    padding: 0 25px;
    background:#ebebeb;
    position:relative;
    z-index:2;
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    border-radius: 4px;
    background-color: transparent;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
    padding: 5 5px;
    color: #333;
}

.breadcrumb-item.active {
    color: #333;
}

hr {
    border-top: 1px solid #555;
}

.quiz-wrapper {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.quiz-container {
    max-width: 800px; 
    width: 100%;
    text-align: center; 
    margin-bottom: 20px;
}

.video-question {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 400px; 
}

.video-question iframe {
    max-width: 70%; 
    max-height: 100%;
}

.options-container {
    display: grid;
    grid-template-columns: auto; 
    grid-row-gap: 10px; 
    align-items: flex-start; 
    justify-content: center; 
}

.option {
    display: flex;
    align-items: center;
    width: 100%;
}

.option span {
    word-break: break-all; 
}

.option input[type="radio"] {
    margin-right: 10px;
    flex-shrink: 0; 
}

.question-container {
    margin-bottom: 40px; 
}

.correct-answer {
    color: green;
}

.incorrect-answer {
    color: red;
}

.btn {
    background-color: #ccf2f4;
    color: #333;
    border-color: transparent;
}

.btn:hover {
    background-color: rgb(132, 132, 136); 
    border-color: transparent;
}

.image-container {
    width: 80%;
    height: 500px;
    display: flex;
    justify-content: center; 
    align-items: center; 
  }

  .image-container img {
    max-width: 100%; 
    max-height: 100%; 
  }