body {
    font-family: 'Koh Santepheap';
    text-align: center;
    background-color: #fbfafa;
    margin: 0;
    padding: 0;
}
header {
    background-color: #ccf2f4;
    background-image: linear-gradient(180deg, #ccf2f4, #fbfafa);
    color: #000000;
    padding: 5vw;
    
}
section {
    padding: 0vw;
}

* {
    font-family: 'Koh Santepheap';
    font-size: 4vw;
}

h1 {
    font-size: 3vw;
}

h2 {
    font-size: 2vw;
}

.wrapper {
    max-width: 100vw;
    text-align: center;
}

.carousel {
    display: flex;
    justify-content: flex-start;
    transition: 0.4s;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw; 
    height: 40vw;
    margin-right: 20vw; 
    margin-left: 20vw;
    justify-content: center;
}

.card {
    top: 0.1vw;
    width: 60vw;
    height: 40vw;
    border: .1vw solid #ccc;
    margin: 4vw auto; 
    transition: 1s ease-out;
    perspective: 150vw; 
    transform-style: preserve-3d;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: #ffffff;
    border-radius: 2vw; 
}

.card.active .front button {
    visibility: hidden; 
}

.card div {
    position: absolute;
    top: 4vw; 
    left: 4vw;
    right: 4vw; 
    bottom: 4vw; 
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
}

.card .options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.card .options .option {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ccf2f4;
  color: #222;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1vw;
  font-weight: bold;
  transition: 0.2s;
}

.card .options .option[data-correct="true"] {
  background-color: #a1e6a1;
}

.card .options .option:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.options{
  margin: absolute;
  margin-top: 45vw;
}

#next-button {
  position: fixed; 
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ccf2f4;
  color: #222;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1vw;
  font-weight: bold;
  transition: 0.2s;
  right: 10vw; 
  bottom: 10vw; 
}
  
#next-button:hover {
    background-color: #a1e6a1;
}


#score {
  font-family: 'Koh Santepheap';
  font-size: 1.5vw;
}

#card-counter {
  position: relative;
  font-family: 'Koh Santepheap';
  margin-top: 1vw;
  margin-bottom: 0vw;
  font-size: 1.5vw;
}

#current-card, #total-cards {
  font-family: 'Koh Santepheap';
  font-size: 1.5vw; 
}

.logo {
    border: none;
    background: none;
    padding: 0vw;
    margin: 0vw;
    position: absolute;
    left: 0vw;
    top: 0vw;
    
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    color: #222;
    background-color: linear-gradient(180deg, #ccf2f4, #ffffff);
    font-size: 1vw;
    font-weight: bold;
    transition: 0.2s;
}

.logo-image {
    width: 18vw;
    height: 8vw;
    justify-content: center; 
    align-items: center; 
}

.princeton-image {
    border: none;
    background: none;
    padding: 0vw;
    margin: 0vw;
    position: absolute;
    right: 2vw;
    top: 1.5vw;
    width: 11vw;
    height: 6vw;
    justify-content: center; 
    align-items: center; 
    
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    color: #222;
    background-color: linear-gradient(180deg, #ccf2f4, #ffffff);
    font-size: 1vw;
    font-weight: bold;
    transition: 0.2s;
}

