h2 {
  color: #696969;
  font-size: 26px;
  font-weight: 300;
  text-align: center;
  position: relative;
  margin: 40px 70px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
}
h2::after {
  content: "";
  width: 100%;
  position: absolute;
  margin: 0 auto;
  height: 1px;
  border-radius: 1px;
  background: #d4d4d4;
  left: 0;
  right: 0;
  bottom: 14px;
}
h2 span {
  display: inline-block;
  padding: 0 25px;
  background:#ebebeb;
  position:relative;
  z-index:2;
}

.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  border-radius: 4px;
  background-color: transparent;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
  padding: 5 5px;
  color: #333;
}

.breadcrumb-item.active {
  color: #333;
}

hr {
  border-top: 1px solid #555;
}