.body {
    text-align: center;
    background-color: #fbfafa;
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ccf2f4;
    background-image: linear-gradient(180deg, #ccf2f4, #fbfafa);
    color: #000000;

}

.input-adjustments {
    margin: 0.6vh;
    margin-left: 2vh !important;
    width: 20%;
    max-width: 300px;
}

.margin-add {
    margin-left: 2vh !important;
    margin: 1vh;
    margin-right: 0vh;
}

.header-margin {
    margin: 2vh;
}

.set-font {
    font-family: 'Koh Santepheap';
}

.table-wrapper {
    max-height: 459px; 
    max-width: 1000px;
    overflow-x: auto;
    overflow-y: auto;
    border-radius: 2px;
    margin-right: 2vh !important;
    border: 0.5px solid rgb(207, 196, 196);
}

.fixed {
    top: 0;
    position: sticky;
    z-index: 1;
}

.table-styles {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

.table-styles thead th {
    background-color: #ccf2f4!important;
}

.table-styles tfoot th {
    background-color: #ccf2f4!important;
}

.table-styles tfoot {
    background-color: #ccf2f4!important;
}


.table-styles th, .table-styles td {
    padding: 8px;
    border: 1px solid rgb(207, 196, 196);
    text-align: left;
    max-width: 150px;
}
