.body {
    text-align: center;
    background-color: #fbfafa;
    overflow-x: hidden;
}

header {
    background-color: #ccf2f4;
    background-image: linear-gradient(180deg, #ccf2f4, #fbfafa);
    color: #000000;
    padding: 5vw;
}

.logo {
    border: none;
    background: none;
    padding: 0vw;
    margin: 0vw;
    position: absolute;
    left: 0vw;
    top: 0vw;
    
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    color: #222;
    background-color: linear-gradient(180deg, #ccf2f4, #ffffff);
    font-size: 1vw;
    font-weight: bold;
    transition: 0.2s;
}

.logo-image {
    width: 18vw;
    height: 8vw;
    justify-content: center; 
    align-items: center; 
}
.princeton-image {
    border: none;
    background: none;
    padding: 0vw;
    margin: 0vw;
    position: absolute;
    right: 2vw;
    top: 1.5vw;
    width: 11vw;
    height: 6vw;
    justify-content: center; 
    align-items: center; 
    
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    color: #222;
    background-color: linear-gradient(180deg, #ccf2f4, #ffffff);
    font-size: 1vw;
    font-weight: bold;
    transition: 0.2s;
}

.input-adjustements {
    margin: 0.6vh;
    margin-left: 2vh !important;
    width: 20%;
    max-width: 300px;

}

.margin-add {
margin-left: 2vh !important;
margin: 1vh;
}

.header-margin {
    margin: 2vh;
}


.submit-button:hover {
    background-color: #518d92 !important;
    border-color: #518d92!important;
}

.set-font{
    font-family: 'Koh Santepheap';
}


td { 
    max-width: 150px;
    min-width: 150px;
    word-wrap: break-word;
    z-index: -1;
}

th {
    position: sticky;
    max-width: 150px;
    min-width: 150px;
    word-wrap: break-word;
    z-index: 1;
    background-color: #ccf2f4!important;
    
}


.table-wrapper {
    max-height: 460px;
    max-width: 1000px;
    margin-right: 2vh !important;
    overflow: none;
    display: block;
    z-index: -1;
}

.table {
    border-width: 2px;
    padding: 0px !important;
    margin: 0px !important;
    display: block;
}

.fixed {
    top: 0;
    position: sticky;
    z-index: 1;
}

 
    

