<div id="bdSidebar" 
             class="d-flex flex-column  
                    flex-shrink-0  
                    p-3 
                    text-black offcanvas-md offcanvas-start width1" style="width: 70px">
            <span id="textwrapper" class=" textwidth1 fixedpos">
             <ul class="mynav nav  d-flex  d-none d-md-block">   
                    <li class="nav-item justify-content-right"> 
                        <a> 
                            <i id="hide" class="fa-solid fa-x text-black d-none d-md-block"></i>
                        </a> 
                    </li>
                   
                </ul> 
                
                <ul class="mynav nav  d-flex  ">
                    <li>
                        <img class="logo" src="static/images/logo.png" alt="Logo">
                    </li>
                </ul>
                
            
            <hr> 
            <ul class="mynav nav nav-pills flex-column mb-auto "> 
                <li class="nav-item mb-1"> 
                    <a href="/home"> 
                        <i class="fa-solid fa-home text-black"></i> 
                        <span class="text text-black">  Home </span>
                    </a> 
                </li>                 
  
                <li class="nav-item mb-1"> 
                    <a href="/courses">  
                        <i class="fas fa-regular fa-school text-black"></i> 
                        <span class="text text-black"> Learning Hub </span>
                    
                    </a> 
                </li> 

                <li class="nav-item mb-1"> 
                    <a href="/review"> 
                        <i class="fa-solid fa-layer-group text-black"></i> 
                        <span class="text text-black"> Review Stack </span>
                    </a> 
                </li> 

                <li class="nav-item mb-1"> 
                    <a href="/searchterm"> 
                        <i class="fa-solid fa-search text-black"></i> 
                        <span class="text text-black"> Search </span>
                    </a> 
                </li>

                <li class="nav-item mb-1"> 
                    <a href="/gloss"> 
                        <i class="fa-solid fa-file text-black"></i> 
                        <span class="text text-black"> Gloss </span>
                    </a> 
                </li> 
   
            </ul> 
            </span>
            <div class="d-flex"> 
  
               
            </div> 
        </div> 