html, body { 
	height: 100%; 
	font-family: 'Ubuntu', sans-serif; 
} 

* {
    font-family: 'Koh Santepheap';
    
}

.gfg { 
	height: 50px; 
	width: 50px; 

} 

.width1 {
    width: 300px !important;
}

.width2 {
    width: 50px !important;
}

#bdSidebar {
    transition: all 0.3s !important;
}



.mynav { 
	color: #fff; 
} 

.mynav li a { 
	color: #fff; 
	text-decoration: none; 
	width: 100%; 
	display: block; 
	border-radius: 5px; 
	padding: 8px 5px;
    transition: all 0.3s !important; 
} 

.text {
    position: fixed;
    margin-left: 10px;
}

.mynav li a.active { 
	background: rgba(255, 255, 255, 0.2); 
} 

.mynav li a:hover { 
	background: rgba(255, 255, 255, 0.2); 
} 

.mynav li a i { 
	width: 25px; 
	text-align: center; 
} 


